# Code editors and operating systems
.DS_Store
.vscode

# Python virtual environment
.venv

# Python bytecode
__pycache__/

# Python distribution
*.egg-info/
build/
dist/

# Coverage
.coverage
/coverage/

# mypy
.mypy_cache/

# sphinx
docs/build
docs/source
